@font-face {
    font-family: Figtree;
    src: url(../fonts/figtree/Figtree-Regular.ttf);
}

@font-face {
    font-family: Figtree-italic;
    src: url(../fonts/figtree/Figtree-BoldItalic.ttf);
}

@font-face {
    font-family: Figtree-italic-light;
    src: url(../fonts/figtree/Figtree-Italic.ttf);
}

@font-face {
    font-family: lustra;
    src: url(../fonts/lustra/Fontspring-DEMO-lustrabold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111111;
    color: #fff;
}

.navbar-brand img {
    width: 174px;
    height: 70px;
}

.nav-link {
    color: #FFF;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-item{
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

.nav-link:focus:after,
.nav-link:hover:after {
  width: 100%;
  left: 0%;
}

.nav-link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


.hero {
    background-image: url(../images/bg-image.webp);
    height: calc(100vh - 100px);
    width: 100%;
    background-repeat: none;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.cur {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
    transition: left 0.4s ease, top 0.4s ease;
    /* Apply transition to both left and top */
}

.cur-2 {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
    transition: left 0.4s ease, top 0.4s ease;
    /* Apply transition to both left and top */
}
.main-hero{
    overflow-x:hidden;
}
.sub-hero{
    overflow-x: hidden;
}

.main-heading {
    position: relative;
}

.main-heading h1 {
    color: #FFF;
    text-align: center;
    font-family: figtree;
    font-size: 15vw;
    font-style: normal;
    font-weight: 600;
    line-height: initial;
    letter-spacing: -5.44px;

}

#icon {
    position: absolute;
    top: 61%;
    left: 96%;
    transform: translate(54%, -23%);
}

.red {
    animation: spin 1s linear infinite;

}

.main-heading h1 span {
    font-family: poppins;
    -webkit-text-stroke: 2px #FFF;
    color: transparent;
    text-transform: uppercase;
}

.overlay-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay-text p {
    white-space: nowrap;
    color: #3D3D3D;

    font-family: lustra;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width : 576px) {
    .overlay-text p {
        font-size: 12px !important;
    }
}

@keyframes spin {
    100% {
        rotate: 360deg;
    }
}

.second-section {
    width: 100%;
    overflow-x: hidden;
}

.desc h2 {
    color: #404040;
    font-family: Figtree;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: initial;
    /* 128.125% */
}

.desc h2 span {
    color: #fff;
}

.sub-desc h4 {
    color: #404040;
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub-desc h4 span {
    color: #fff;
}

.first-row-left div {
    height: 120px;
    width: 33%;
    background-color: #3D3D3D;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;

}

.first-row-left div:hover {
    transform: scale(1.1);
}


.first-row-left div img {
    transition: 0.5s all ease;
    filter: grayscale(0);
}

.first-row-left div img:hover {
    transform: scale(1.2);
    filter: none;
}

.second-row-left div {
    height: 230px;
    width: 100%;
    border-radius: 20px;
    background-color: #3D3D3D;
    overflow: hidden;
    transition: 0.5s all ease;
}

.second-row-left div:hover {
    transform: scale(1.1);
}

.second-row-left div video {
    transition: 0.5s all ease;
    filter: grayscale(0);
}

.second-row-left div video:hover {
    transform: scale(1.02);
}

.third-row-left div {
    height: 230px;
    border-radius: 20px;
    background-color: #3D3D3D;
    transition: 0.5s all ease;
    overflow: hidden;
}


.third-row-left div:hover {
    transform: scale(1.1);
}

.third-row-left div video {
    transition: 0.5s all ease;
    scale: 1.35;
}

.third-row-left div video:hover {
    transform: scale(1.02);
}

.first-row-right div {
    width: 100%;
    background-color: #3D3D3D;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s all ease;
}

.first-row-right div:hover {
    transform: scale(1.1);
}

.first-row-right div video {
    transition: 0.5s all ease;
    scale: 1.3;
}

.first-row-right div video:hover {
    transform: scale(1.2);
}

.header {
    position: relative;
}

.header span h2 {
    text-transform: uppercase;
    color: #FFF;
    font-family: Figtree;
    font-size: 14vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -13.1px;
}

.header span h2 span {
    font-family: figtree-italic;
}

@media (max-width : 768px) {
    .header span h2 {
        font-size: 10vw;
        letter-spacing: normal;
    }
}

.sub-head p {
    color: #3D3D3D;
    font-family: lustra;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.sub-head p:nth-child(1) {
    text-align: left;
}

.sub-head p:nth-child(2) {
    text-align: right;
}

#web-projects-overlay {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
}

@media (max-width : 576px) {
    #web-projects-overlay {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
}

.third-section {
    overflow-x: hidden;
}
.third-section a{
    text-decoration: none;
}

.card-bg {
    border-radius: 15px;
    background: #171616;
    width: 100%;
    border: 1px solid #8080801f;
    filter: grayscale(1);
    transition: 0.5s all ease;
}

.card-bg:hover {
    scale: 1.05;
    filter: none;
}

.card-head {
    width: 100%;
    padding: 25px 15px;
    background-color: #1c1d1c;
    border-radius: 15px;
    border: 1px solid #8080801f;
   
}

.card-content {
    width: 100%;
    background-color: #1c1d1c;
    border-radius: 15px;
    border: 1px solid #8080801f;
    position: relative;
    overflow: hidden;

}

.card-content video {
    width: 100%;
    scale: 1.03;
}

.card-head h5 {
    font-family: figtree;
    font-size: 18px;
    color: #000;
}

.card-head h6 {
    font-family: Lustra;
    font-size: 16px;
    color: #404040;
    font-weight: 200;
}

.card-info {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px;
}

@media (max-width : 576px) {
    .card-info {
        top: 70%;
    }
}

.card-info h6 {
    font-family: figtree;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.card-info p {
    font-family: figtree-italic-light;
    font-size: 35px;
    font-weight: 200;
    color: #000;
}

@media(max-width : 576px) {
    .card-info p {
        font-size: 20px;
    }
}

#ui-designs-overlay {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#playground-overlay {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
}

#aboutme-overlay {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
}

@media(max-width : 576px) {
    #aboutme-overlay {
        position: absolute;
        top: 50%;
        left: 68%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width : 576px) {
    #ui-designs-overlay {
        position: absolute;
        top: 50%;
        left: 42%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width : 576px) {
    #playground-overlay {
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
}

.fourth-section {
    overflow-x: hidden;
}

.ui-card {
    width: 100%;
    height: 420px;
    position: relative;
    background-color: #1c1d1c;
    border-radius: 15px;
    border: 1px solid #8080801f;
    overflow: hidden;
    filter: grayscale(1);
    transition: 0.2s all ease;
}

.ui-card img {
    width: 100%;
    transition: 0.9s all ease;
}

.ui-card:hover {
    scale: 1.05;
    filter: none;
}

.ui-card img:hover {
    scale: 1.1;
}

.ui-overlay {
    background-color: transparent;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-overlay h6 {
    font-family: figtree;
    font-size: 18px;
    color: #fff;

}

.ui-overlay p {
    font-family: lustra;
    font-size: 13px;
    color: #ffffff5d;
}

.card-bg {
    overflow: hidden;
}

.fifth-section {
    width: 100%;
    height: 40vw;
    overflow: hidden;
    position: relative;
}

#vid-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
}

#vid-2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 200%;
    opacity: 0;
    transition: 0.5s all ease;
}

.drag-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}
.drag-box h4{
    font-family: lustra;
    font-size: 1vw;
    text-transform: uppercase;
    color: #313031;
    margin: 0 auto;
}

.dragme {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 5px dotted #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dragme div{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid orangered;
    border-bottom: none;
    border-top: none;
    animation: spin 1s linear infinite;
}

.drag-target {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    
}
.drag-target div:nth-child(1){
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid orangered;
    border-bottom: none;
}

.sixth-section {
    overflow: hidden;
}

.sixth-section a{
    text-decoration: none;
}
.about-center-col div {
    width: 100%;
    background-color: #181919;
    border-radius: 15px;
    border: 1px solid #8080801f;
}

.about-left-col div {
    width: 100%;
    background-color: #181919;
    border-radius: 15px;
    border: 1px solid #8080801f;
}

.about-right-col div {
    width: 100%;
    background-color: #181919;
    border-radius: 15px;
    border: 1px solid #8080801f;
}

.one-one h4 {
    font-family: figtree;
    font-size: 25px;
    color: #fff;
    line-height: 35px;

}

.top-btn {
    border: 1px solid #8080801f;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #313031;
}

.sixth-section .top-btn {
    border: 1px solid #8080801f;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: #313031;
}

button {
    background-color: #31303178;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    color: #fff;
    font-size: 15px;
    font-family: figtree;
}

.box-head {
    font-family: lustra;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.box-para {
    font-family: figtree;
    font-size: 17px;
    line-height: 30px;
    color: #ffffff66;
    font-weight: 400;

}

.box-para span {
    color: #fff;
}

.tool-stack img {
    height: 35px;
    width: 35px;
    transition: 0.5s all ease;
}

.tool-stack img:hover {
    scale: 1.3;
}

.footer h3 {
    color: #FFF;
    font-family: Figtree;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.one-two {
    background-image: url(../images/1671551268985.jpg.webp);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    transition: 1s all ease;
}

.one-two:hover {
    filter: none;
}

.footer h4 {
    color: #3D3D3D;
    font-family: lustra;
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.songs h4 {
    font-family: lustra;
    font-size: 15px;
    text-transform: uppercase;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width : 576px){
    .footer h4{
        font-size: 12px;
    }
    .footer h3{
        font-size: 20px;
    }
    .sub-head p{
        font-size: 12px;
    }
    .desc h2{
        font-size: 6.5vw;
    }
}


.btt {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .btt:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .btt:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .btt::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .btt:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  